In [32]:
list=[2,3,6]
x=2
y=3
z=6
result=x*y*z
print(result)

36

In [35]:
def dernier (structure):
  return(structure[-1])
def tri(liste):
  return(sorted(liste,key=dernier))
tri([(2,5),(1,2),(4,4),(2,3),(2,1)])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [36]:
n=8
b=n*n
print(b)

64

In [37]:
my_list=[('item1','12.20'),('item2','15.10'),('item3','24.5')]
my_list[0]=('item3','24.5')
print(my_list)
my_list[2]=('item1','12.20')
print(my_list)

[('item3', '24.5'), ('item2', '15.10'), ('item3', '24.5')]
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]